html {
  overflow-y: scroll;
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  position: relative;
}

a:hover,a:active {
  outline: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

img,iframe {
  border: 0;
}

button,input[type="button"],input[type="reset"],input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

button[disabled],input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

article,footer,header,nav,section {
  display: block;
}

video {
  display: inline-block;
}

[hidden] {
  display: none;
}

body {
  margin: 0;
}

p,hr,ul {
  margin: 15px 0;
}

h1,h2,h3,h4,h5,h6 {
  margin: 25px 0 15px 0;
}

ul {
  padding-left: 30px;
}

dd {
  margin-left: 40px;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}

h1 {
  font-size: 36px;
  line-height: 36px;
}

h2 {
  font-size: 24px;
  line-height: 24px;
}

h3 {
  font-size: 18px;
  line-height: 18px;
}

h4,h5,h6 {
  font-size: 16px;
  line-height: 16px;
}

a,a:hover {
  text-decoration: none;
}

b,strong {
  font-weight: bold;
}

small {
  font-size: 11px;
}

hr {
  display: block;
  height: 1px;
  padding: 0;
  border: 0;
  border-top: 1px solid;
}

q {
  quotes: '\201C' '\201D' '\2018' '\2019';
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  padding: 1px;
}

input {
  vertical-align: middle;
}

input,button {
  font: 12px Arial, sans-serif;
}

form {
  margin: 0;
}

input {
  padding: 0;
}

input[type='text'],input[type='password'] {
  padding: 2px;
}

button,input[type='button'],input[type='submit'] {
  padding: 2px 3px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font: normal 14px/20px Arial, Helvetica, sans-serif;
  color: #444;
}

a {
  color: #48b;
}

a:hover,em {
  color: #d50;
}

hr {
  border-top-color: #ddd;
}

::-moz-selection {
  background: #39f;
  color: #fff;
}

::selection {
  background: #39f;
  color: #fff;
}

.clearfix:before,.clearfix:after,.grid-block:before,.grid-block:after,.deepest:before,.deepest:after {
  content: "";
  display: table;
}

.clearfix:after,.grid-block:after,.deepest:after {
  clear: both;
}

.grid-box {
  float: left;
}

.width16 {
  width: 16.666%;
}

.width20 {
  width: 20%;
}

.width25 {
  width: 25%;
}

.width33 {
  width: 33.333%;
}

.width40 {
  width: 40%;
}

.width50 {
  width: 50%;
}

.width60 {
  width: 60%;
}

.width66 {
  width: 66.666%;
}

.width75 {
  width: 75%;
}

.width80 {
  width: 80%;
}

.width100 {
  width: 100%;
}

[class*='width'] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.wrapper {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: auto;
}

#header {
  position: relative;
}

#toolbar .float-left .module {
  margin: 0 15px 0 0;
  float: left;
}

#toolbar .float-right .module {
  margin: 0 0 0 15px;
  float: right;
}

#headerbar .module {
  max-width: 300px;
  margin-right: 0;
  float: right;
}

#logo,#logo > img,#menu {
  float: left;
}

#search {
  float: right;
}

#footer {
  position: relative;
  text-align: center;
}

#absolute {
  position: absolute;
  z-index: 15;
  width: 100%;
}

.module,#header,#content,#footer {
  margin: 15px;
}

#menu .module {
  margin: 10px 5px;
}

#footer .module {
  margin: 0;
}

#toolbar,#headerbar {
  margin-bottom: 15px;
}

#totop-scroller {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 20px;
  height: 20px;
  text-decoration: none;
}

.menu,.menu ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.menu a,.menu span {
  display: block;
}

.menu a {
  text-decoration: none;
}

.menu-dropdown li {
  position: relative;
}

.menu-dropdown,.menu-dropdown .level1,.menu-dropdown .level1 > span {
  float: left;
}

.menu-dropdown a.level1 > span,.menu-dropdown span.level1 > span {
  height: 30px;
  padding: 0 10px;
  line-height: 30px;
}

.menu-dropdown .dropdown {
  display: none;
  position: absolute;
  top: 30px;
  left: 0;
  z-index: 100;
  width: 300px;

}

.menu-dropdown li:hover .dropdown {
  display: block;
}

.menu-dropdown .dropdown-bg > div {
  overflow: hidden;
}

.menu-dropdown .columns2 {
  width: 600px;
}

.menu-dropdown .columns3 {
  width: 900px;
}

.menu-dropdown .columns4 {
  width: 1200px;
}

.menu-dropdown .column {
  float: left;
}

.menu-dropdown a.level2 > span,.menu-dropdown span.level2 > span {
  padding: 7px 0;
  line-height: 21px;
  overflow: hidden;
}

.menu-dropdown ul.level3 {
  padding-bottom: 10px;
}

.menu-dropdown li.level3 {

  font-size: 11px;
  line-height: 17px;
}

.menu-dropdown span.icon {
  display: block;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  float: left;
}

.menu-dropdown .level1 .level1 span.icon {
  width: 30px;
  height: 30px;
  margin-left: -5px;
}

.menu-dropdown .level1 .level1 span.icon + span,.menu-dropdown .level1 .level1 span.icon + span + span {
  margin-left: 25px;
}

.menu-dropdown li.level2 .level2 span.icon {
  width: 35px;
  height: 35px;
  margin-top: -7px;
  margin-bottom: -7px;
}

.menu-dropdown li.level2 .level2 span.icon {
  margin-right: 5px;
}

.menu-dropdown li.level2 .level2 span.icon + span,.menu-dropdown li.level2 .level2 span.icon + span + span {
  margin-left: 40px;
}

.menu-dropdown span.title {
  line-height: 18px;
}

.menu-dropdown li.level2 .level2 span.title {
  line-height: 15px;
}

.menu-dropdown {
  margin-bottom: -10px;
}

.menu-dropdown li.level1 {
  margin-right: 10px;
  padding-bottom: 10px;
}

.menu-dropdown a.level1,.menu-dropdown span.level1 {
  border: 1px solid #DDD;
  color: #444;
}

.menu-dropdown li.active .level1 {
  color: #48b;
}

.menu-dropdown li.level1:hover .level1 {
  color: #d50;
}

.menu-dropdown .dropdown {
  top: 42px;
  border-top: 1px solid #DDD;
}

.menu-dropdown .dropdown-bg > div {
  padding: 0 5px;
  border: 1px solid #ddd;
  border-top: none;
  background: #fff;
}

.menu-dropdown li.level2 {
  margin: 0 5px;
  border-top: 1px solid #ddd;
}

.menu-dropdown li.level2:first-child {
  border: none;
}

.menu-dropdown a.level2,.menu-dropdown span.level2 {
  color: #444;
}

.menu-dropdown a.level2:hover {
  color: #d50;
}

.menu-dropdown a.current.level2 {
  font-weight: bold;
}

.menu-dropdown a.level3:hover {
  color: #d50;
}

.menu-dropdown a.current.level3 {
  font-weight: bold;
}

.module {
  position: relative;
}

.module .module-title .icon {
  display: block;
  position: relative;
  top: -6px;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  overflow: hidden;
  float: left;
}

.deepest > *:first-child {
  margin-top: 0;
}

.deepest > *:last-child {
  margin-bottom: 0;
}

@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  a,  a:visited {
    text-decoration: underline;
  }

  tr,  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

@page {
    margin: 0.5cm;
}

  p,  h2,  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,  h3 {
    page-break-after: avoid;
  }
}

#header-responsive {
  display: none;
}

@media (max-width: 959px) {


  #maininner {
    width: 100%;
    left: auto;
    right: auto;
  }
}

@media (min-width: 480px) and (max-width: 959px) {


  .width16,  .width20,  .width25,  .width40,  .width60,  .width75,  .width80 {
    width: 50%;
  }

  .width50 .width50 {
    width: 100%;
  }

  .width20:nth-child(odd):last-child {
    width: 100%;
  }

  .width50 .align-left,  .width50 .align-right {
    margin: 0 auto 15px auto;
    float: none;
  }
}

@media (max-width: 767px) {
  #header-responsive {
    display: block;
  }

  #header-responsive .logo,  #header-responsive .searchbox {
    display: inline-block;
    width: 45%;
    vertical-align: middle;
  }

  #header-responsive .logo {
    margin-right: 10%;
  }

  #header-responsive .searchbox {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .menu-responsive {
    width: 100%;
    font-size: 14px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .width33 {
    width: 50%;
  }

  .width33:nth-child(odd):last-child {
    width: 100%;
  }
}

@media (max-width: 479px) {
  body {
    word-wrap: break-word;
  }

  .width16,  .width20,  .width25,  .width33,  .width40,  .width50,  .width60,  .width66,  .width75,  .width80 {
    width: 100%;
  }

  .align-left,  .align-right {
    margin: 0 auto 15px auto;
    float: none;
  }
}

@media (min-width: 480px) and (max-width: 959px) {


  #search {
    display: none;
  }
}

@media (max-width: 767px) {


  #toolbar,  #headerbar,  #menubar,  #totop-scroller {
    display: none;
  }
}

@media (max-width: 479px) {

}

#system .page-title {
  margin-top: 0;
  font-size: 18px;
  line-height: 18px;
}

#system .title {
  margin-top: 0;
}

#system .title a {
  text-decoration: none;
}

#system .title + .title {
  margin-top: 20px;
}

#system small {
  font-style: italic;
}

#system .item > header {
  margin-bottom: 15px;
}

#system .item > :first-child + header {
  margin-top: 10px;
}

#system .item > header .title {
  margin-bottom: 0;
}

#system .item > header .meta {
  margin: 10px 0 0 0;
  font-size: 11px;
  line-height: 13px;
}

#system .item > .content > *[class*="align"]:first-child + * {
  margin-top: 0;
}

#system .item > .links {
  margin: 22px 0 0 0;
}

#system .item > .links a {
  margin-right: 15px;
}

#system .item > *:last-child {
  margin-bottom: 0;
}

.searchbox {
  position: relative;
}

.searchbox input {
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  float: left;
}

.searchbox input::-ms-clear {
  display: none;
}

.searchbox button {
  display: none;
}

.page-nav {
  margin-top: 15px;
}

.page-nav .prev {
  float: left;
}

.page-nav .next {
  float: right;
}

#system .item > header .icon {
  margin: 2px 0 0 5px;
  float: right;
}

#system .item > .edit a {
  vertical-align: text-top;
}

#article-index {
  margin: 0 0 15px 15px;
  float: right;
}

#article-index ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#system-message {
  margin: 0 0 10px 0;
  padding: 0;
}

#system-message dd {
  margin-left: 0;
  padding: 10px;
  border-top: 3px solid #84A7DB;
  border-bottom: 3px solid #84A7DB;
  color: #0055BB;
}

#system-message dd ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#system .title a {
  color: #444;
}

#system small {
  color: #999;
}

#system .item > header .meta {
  color: #999;
}

#system .item > .links a:after {
  content: " »";
  font-size: 16px;
}

.searchbox {
  width: 100px;
  height: 30px;
  padding: 0 25px;
  border: 1px solid #ddd;
}

.searchbox input {
  height: 30px;
  color: #333;
  font-size: 14px;
}

.searchbox input:-moz-placeholder {
  color: #999;
}

.searchbox input:-ms-input-placeholder {
  color: #999;
}

.searchbox input::-webkit-input-placeholder {
  color: #999;
}

.searchbox input.placeholder {
  color: #999;
}

.display-block {
  display: block;
}

.hidden {
  display: none;
  visibility: hidden;
}

.size-auto {
  max-width: 100%;
  height: auto;
}

.align-left {
  display: block;
  margin-right: 15px;
  float: left;
}

.align-right {
  display: block;
  margin-left: 15px;
  float: right;
}

.align-center {
  display: block;
  margin: auto;
  margin-bottom: 10px;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

ul.blank,ul.space {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.space li {
  margin-top: 15px;
}

ul.space li:first-child {
  margin-top: 0;
}

em.box {
  padding: 0 3px;
  white-space: nowrap;
}

.box-content {
  margin: 15px 0;
  padding: 10px;
}

.box-content {
  padding: 20px;
}

form.box button,form.box input[type='button'],form.box input[type='reset'] {
  vertical-align: middle;
}

img.border-box {
  border: 1px solid #ddd;
}

em.box {
  border: 1px dotted #bbb;
  background: #fafafa;
  color: #444;
}

.box-content {
  background: #fafafa;
  border: 1px solid #ddd;
}
